<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit QueueBooking </title>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/edit.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body style="background-color: #fcf2f1;">
    
  <!-- Header หลัก-->
  <section id="header-employee">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-4 ">
        <div class="col-md-1 mb-2 mb-md-0 ">
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 primary">
          <li><a href="/home-admin" id="homeHeaderEmployee" class=" nav-link px-3 text-header fontAll ">แก้ไขหน้าเว็บ</a></li>
          <li><a href="/service-admin" id="servicesHeaderEmployee"  class="nav-link px-3 text-header fontAll ">บริการของร้าน</a></li>
          <li><a href="#" id="userHeaderEmployee" class="active     nav-link px-3 text-header fontAll ">ลูกค้า</a> 
            <ul class="sub">
              <li><a href="/queuebooking-admin" style="text-decoration:none active  ">ตารางการจองคิว</a></li>
              <li><a href="/pay-admin" style="text-decoration:none ">การชำระเงิน</a></li>
            </ul>
          </li>
          <li><a href="#" id="employeeHeaderEmployee" class="nav-link px-3 text-header fontAll ">พนักงาน</a>
            <ul class="sub">
              <li><a href="/employeetable-admin" style="text-decoration:none ">ตารางพนักงาน</a></li>
              <li><a href="/employeeinformation-admin" style="text-decoration:none ">ข้อมูลพนักงาน</a></li> 
            </ul>
          </li>
          <li><a href="/stock-admin" id="stockHeaderEmployee" class="nav-link px-3 text-header fontAll ">Stock</a></li>
          <li><a href="/chatbot-admin" id="chatbot" class="nav-link px-3 text-header fontAll ">Chat Bot</a></li>
          <li><a href="/report-admin" id="report" class="nav-link px-3 text-header fontAll ">Report</a></li>
        </ul>
         
          <% if (loggedIn) { %>
            <div class="nav me-3 text-end">
              <div><a href="/employeeEdit-admin" class="nav-link fontAll text-header">Admin, <%=UserData.username%></a></div>
              <div><a href="/logout" class=" btn btn-danger ">ออกจากระบบ</a></div>
            </div>
            <% } %>

      </header>
    </section>


        <div class="buttonClose">
          <div class="container">
            <button id="button_close" type="button" class="btn-close" ></button>
          </div>
        </div>
        
        <div id="edit_service2">
            <div class="container">

                <div class="text_edit">
                    <h2 class="fontAll">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard2-data" viewBox="0 0 16 16">
                        <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
                        <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
                        <path d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1Z"/>
                    </svg> 
                    แก้ไขการจองคิว</h2>
                </div>

                <form action="/edit-queuebooking/<%= QueueBookingCustomerData._id %>?_method=PUT" method="POST">     
                  <div class="editS1">

                        <div class='editSe2'>
                          <label class="textques2">ชื่อลูกค้า</label>
                          <div  class="form-control" ><%= QueueBookingCustomerData.customerName %> <%= QueueBookingCustomerData.customerFirstname%></div>
                        </div> 

                        <div class='editSe2'>
                          <label class="textques2"></label>
                          <div class="form-control"><%= QueueBookingCustomerData.customerLastname%></div>
                        </div> 
      
                        <div class='editSe2'>
                          <label class="textques2">เบอร์โทรศัพท์</label>
                          <div  class="form-control" ><%= QueueBookingCustomerData.phonenum %> <%= QueueBookingCustomerData.phonenumOfUsername %></div>
                        </div> 
      
                        <div class='editSe2'>
                            <label class="textques2">เลือกวันที่</label>
                            <input id="dateBooking"
                            type="date" min="0000-00-00" max="0000-00-00"
                            placeholder="<%= QueueBookingCustomerData.booking_date_user  %>" 
                            class="form-control" 
                            name="booking_date_user" 
                            value="<%= QueueBookingCustomerData.booking_date_user  %>">
                        </div>

                        <% var ServiceArray = [] %>
                        <div class='editSe2'>
                          <label class="textques2">บริการ</label>
                          <select name="booking_service_user[]" class="form-control" id="booking_service">
                            <option value=" " selected disabled hidden ><%= QueueBookingCustomerData.booking_service_user %></option> 
                            <% ServiceDataList.forEach(serviceData =>{ %> 
                              <% ServiceArray.push(serviceData.service_name); %>
                                <option value= "<%= serviceData.service_name  %>"  > <%= serviceData.service_name  %> ( <%= serviceData.service_time %> ชั่วโมง ) </option>
                            
                              <% }) %> 
                          </select>
                        </div>

                           <div class='editSe2'>
                            <label class="textques2">เวลา</label>
                            <% var timeOpenArray = [] %>
                            <% var bookingTime = [] %>
                            <% var bookingTArray=[] %>
                            
                           
                            <select name="booking_time_user[]"  class="select-time "  id="select-time"  multiple="multiple"  >
                            
                              <%  HomeData.forEach(homeData => { %>
                                
                                <%  let timeOpen = parseInt(homeData.time_open); %>
                                <%  let timeClose = parseInt(homeData.time_close); %>
                               
                                <%  let timeForService1  = timeOpen+1;  %>

                                <% let timeOpen1 = timeOpen; %>
                                <% let timeForService2  = timeForService1; ;%>
                                <% let timeClose1 = timeClose;%>
                                 
                                <% for(; timeOpen1 < timeClose1  ; timeOpen1++ ){ %>
                                  <% if(timeOpen1 <= 9 ){%>
                                    <% var shopTime = "0"+timeOpen1+".00"+"-"+timeForService2+".00" %>
                                    <% bookingTArray.push(shopTime); %>
                                    <% timeForService2++ %>
        
                                  <% }else{ %>
                                    <% var shopTime = timeOpen1+".00"+"-"+timeForService2+".00" %>
                                    <% bookingTArray.push(shopTime); %>
                                    <% timeForService2++ %>
                                    <% } %>
                                 
                                 <% } %> 
                                    
                                    <% for(let t=0 ; t < QueueBookingCustomerData.booking_time_user.length ;t++) {%>
                                      <% let bookingT = parseInt(QueueBookingCustomerData.booking_time_user[t]); %>
                                      <% bookingTime.push(bookingT); %>
                                  <% } %>
                                  <% console.log(bookingTime) %>
                                  
                                     <% for( ; timeOpen < timeClose  ; timeOpen++ ) { %> 
                                    <% if(timeOpen<=9) {%> 
                                      
                                      <option  value= "0<%= timeOpen %>.00 - <%= timeForService1 %>.00"  class="fontAll "> 0<%= timeOpen %>.00 - <%= timeForService1 %>.00 </option>
                                      
                                    <% timeForService1++ %> 
                                    <% }else{ %>   
                                      <option  value= "<%= timeOpen %>.00 - <%= timeForService1 %>.00"  class="fontAll "> <%= timeOpen %>.00 - <%= timeForService1 %>.00 </option> 
                                      <% timeForService1++ %> 
                                    <% } %>
                                
                                <% } %>
                                     
                              <% })  %> 
                            </select>
                                
                        </div>

                        <div class='editSe2'>
                          <label class="textques2">พนักงาน</label>
                          <select name="employeeName" class="form-control" required>
                            <option value="<%= QueueBookingCustomerData.employeeName %>" selected disabled hidden ><%= QueueBookingCustomerData.employeeName %> </option> 
                            <% empList.forEach(emp =>{ %> 
                              <option value= "<%= emp.firstname %> <%= emp.lastname %> " > <%= emp.firstname %>  <%= emp.lastname %></option>
                            <% }) %> 
                          </select>
                        </div>
                  </div> 
                    <div class="modal-footer">
                      <div class="cons">
                        <button type="submit"  class="buttonbt">บันทึก</button>
                        <button type="button" class="fontAll buttonDelete btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel" >ลบข้อมูล</button>  
                      </div>
                    </div> 
            </div>
        </div>
            
                </form>       

      <!--แยกก-->
      <div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h1 class="modal-title fs-5 fontAll">ลบข้อมูลการจองคิว</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <h3 class="colorText">ต้องการลบ</h4> 
              <h4 class="colorText">
                <ul>
                  <li class="pad"> ชื่อลูกค้า <b class="b0">:</b> <b class="colorDeleteService"> <%= QueueBookingCustomerData.customerName %> <%= QueueBookingCustomerData.customerFirstname%> <%= QueueBookingCustomerData.customerLastname%></b> </li>
                  <li class="pad"> บริการ  <b class="b2">:</b> <b class="colorDeleteService"><%= QueueBookingCustomerData.booking_service_user %></b> </li>
                  <li class="pad"> วันที่    <b class="b3">:</b> <b class="colorDeleteService"><%= QueueBookingCustomerData.booking_date_user  %></b> </li>
                  <li class="pad1"> เวลา   <b class="b4">:</b> <b class="colorDeleteService"> <%= QueueBookingCustomerData.booking_time_user  %></b> </li>
                  
                </ul>
                แน่ใจใช่ไหมที่จะลบข้อมูล
              </h4>
            </div>
            
            <div class="modal-footer">
              <form action="/edit-queuebooking/<%= QueueBookingCustomerData._id %>?_method=DELETE" method="POST">
                <button type="submit" class="buttonbt">แน่ใจ ลบข้อมูล</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    
      <!-- JavaScript-->
      <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
        crossorigin="anonymous">
      </script>

    <script 
        src="../js/dateBooking.js" 
        charset="utf-8">
    </script>

    <script 
        src="../js/select-time.js" 
        charset="utf-8">
    </script>

    <script 
      src="../js/editService-admin.js" 
      charset="utf-8">
    </script>

    <script>
      var timeOpen = '<%= bookingTArray %>'.split(',');
      var timeOpenInt =[];

      // timeOpen--> int
      for(let t = 0 ; t<timeOpen.length ; t++){
          var timeOpenint = parseInt(timeOpen[t]);
          timeOpenInt.push(timeOpenint);
      }

      console.log(timeOpenInt);

      var itemB =  [];
      var timeBooking = '<%= bookingTime %>'.split(',');
      var timeBookingInt =[];

      for(let w = 0  ; w < timeBooking.length  ; w++){
          var  timeBookingint =  parseInt(timeBooking[w])
          timeBookingInt.push(timeBookingint);
      }
      //ขนาดอาเรย์เท่ากันหรือไม่
      function arraysHaveEqualValues(array1,array2){
          for(let r = 0;r < Math.min(array1.length, array2.length); r++){
              if (array1[r] !== array2[r]) {
                  return false;
              }
          }
          return true;
      }
      //เปรียบเทียบค่าข้างในอาเรย์
      function valuesInArray(array1, array2){

          for (let r = 0; r < array1.length; r++) {
              if (array2.indexOf(array1[r]) === -1) {
                  return false;
              }
              const sameIndex = (array2).indexOf(array1[r]);
              itemB.push('itemTime'+[r]);
              var itemTimeNum = itemB;
              var itemTime = document.querySelectorAll('.item-time')[sameIndex];

              document.getElementById("select-time")[sameIndex].selected = true;

              itemTime.classList.add("item--selected");
          }
          return true;
      }

      const resultEqualValues  = arraysHaveEqualValues(timeOpenInt,timeBookingInt);
      console.log(resultEqualValues);

      const resultSubset = valuesInArray(timeBookingInt, timeOpenInt);
      console.log(resultSubset);

      console.log(timeBookingInt);
     
    </script>

    <script>
      function makeServiceId(){ 
        var i = 0;
        return function(){
          return i++;
        };
      };

      var id = makeServiceId();
      const bookingSe = document.getElementById("booking_service");
      
      bookingSe.querySelectorAll("option").forEach(bo =>{
          bo.classList.add('itemService'+id());
      })
      
     const bookingCuDa ='<%= QueueBookingCustomerData.booking_service_user %>'.split(',');
     const serviceArray ='<%= ServiceArray %>'.split(',');

     
      for(let s = 0 ; s < serviceArray.length ; s++){
        const indexSe = (serviceArray[s]).indexOf(bookingCuDa);
       
        bookingCuDa.forEach(value =>{
          const optionToDisable = bookingSe.querySelector(`option[value="${value}"]`);
          if (optionToDisable) {
            optionToDisable.disabled = true;
          }
        })
        
      console.log(indexSe);
      
     }
     
     console.log( bookingCuDa);
     console.log( serviceArray);
    </script>
       

</body>
</html>