<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Table</title>

    <!-- Bottstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/edit.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>
<body class="b1">
    
  <!-- Header หลัก-->
  <section id="header-employee">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-4 ">
        <div class="col-md-1 mb-2 mb-md-0 ">
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 primary">
          <li><a href="/home-admin" id="homeHeaderEmployee" class=" nav-link px-3 text-header fontAll ">แก้ไขหน้าเว็บ</a></li>
          <li><a href="/service-admin" id="servicesHeaderEmployee"  class="nav-link px-3 text-header fontAll ">บริการของร้าน</a></li>
          <li><a href="#" id="userHeaderEmployee" class="nav-link px-3 text-header fontAll ">ลูกค้า</a> 
            <ul class="sub">
              <li><a href="/queuebooking-admin" style="text-decoration:none" >ตารางการจองคิว</a></li>
              <li><a href="/pay-admin" style="text-decoration:none ">การชำระเงิน</a></li>
            </ul>
          </li>
          <li><a href="#" id="employeeHeaderEmployee" class="nav-link px-3 text-header fontAll active ">พนักงาน</a>
            <ul class="sub">
              <li><a href="/employeetable-admin" style="text-decoration:none active">ตารางพนักงาน</a></li>
              <li><a href="/employeeinformation-admin" style="text-decoration:none ">ข้อมูลพนักงาน</a></li> 
            </ul>
          </li>
          <li><a href="/stock-admin" id="stockHeaderEmployee" class="nav-link px-3 text-header fontAll ">Stock</a></li>
          <li><a href="/chatbot-admin" id="chatbot" class="nav-link px-3 text-header fontAll ">Chat Bot</a></li>
          <li><a href="/report-admin" id="report" class="nav-link px-3 text-header fontAll ">Report</a></li>
        </ul>
  
        <% if (loggedIn) { %>
          <div class="nav me-3 text-end">
            <div><a href="./employeeEdit-admin" class="nav-link fontAll text-header">Admin, <%=UserData.username%></a></div>
            <div><a href="./logout" class=" btn btn-danger ">ออกจากระบบ</a></div>
          </div>
          <% } %>
          
      </header>
    </section>
    
        <!-- Button trigger modal -->
        <div id="create-service">
         
        </div>

        <div><h1 class="headtext">ตารางการของพนักงาน</h1></div>
        <div class="line-4"></div>

        <div id="infoTable">
          <div class="container">
            <% const uniqueEmployeeNames = Array.from(new Set(QueueBookingCustomerData.map(item => item.employeeName))); %>
            <% uniqueEmployeeNames.forEach(employeeName => { %>
              <h2 class="hemp"><%= employeeName %></h2>
              <table>
                <tr class="sectionTable">
                  <td class="fontAll">ลำดับ</td>
                  <td class="fontAll">พนักงาน</td>
                  <td class="fontAll">วันที่</td>
                  <td class="fontAll infoBookingtimes">เวลา</td>
                  <td class="fontAll">บริการ</td>
                  <td class="fontAll">ลูกค้า</td>
                </tr>
                <% QueueBookingCustomerData.filter(bookingCus => bookingCus.employeeName === employeeName).forEach((bookingCus, element) => { %>
                  <tr class="infoTable">
                    <td class="fontAll"><%= element + 1 %></td>
                    <td class="fontAll"><%= bookingCus.employeeName %></td>
                    <td class="fontAll"><%= bookingCus.booking_date_user %></td>
                    <td class="fontAll infoBooking time"><%= bookingCus.booking_time_user %></td>
                    <td class="fontAll"><%= bookingCus.booking_service_user %></td>
                    <td class="fontAll"><%= bookingCus.customerName %> <%= bookingCus.customerFirstname %> <%= bookingCus.customerLastname %></td>
                  </tr>
                <% }) %>
              </table>
            <% }) %>
          </div>
        </div>
        
    
    
      <!-- JavaScript-->
      <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
        crossorigin="anonymous">
      </script>

      <script 
        src="/js/employeetable-admin.js" 
        charset="utf-8">
      </script> 

      <script 
        src="/js/employeetable-admin.js" 
        charset="utf-8">
      </script> 


</body>
</html>