<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Information </title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/info.css">
   
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Raleway:wght@200&display=swap" rel="stylesheet">
      
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="imgBooking">
<section>
   <!-- Header -->
   <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 ">
    <div class="col-md-3 mb-2 mb-md-0 ">
      <div class="fontlogo logomore"><%=home.inputLogo%></div>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
      <li><a href="./home-user" id="homeHeader" class=" nav-link px-3 heaDer fontAll ">หน้าแรก</a></li>
      <li><a href="./booking-user" id="bookingHeader"  class="nav-link px-3 heaDer fontAll ">การจองคิว</a></li>
      <li><a href="./service-user" id="servicesHeader" class="nav-link px-3 heaDer fontAll ">บริการของร้าน</a></li>
      <li><a href="./contact-user" id="contactHeader" class="nav-link px-3 heaDer fontAll ">ติดต่อ</a></li>
    </ul>

    <% if (loggedIn) { %>
      <div class=" nav me-3 text-end">
        <div> <a href="./information-user" class=" active nav-link px-3 heaDer fontAll">Hi, <%=UserData.username%></a></div>
        <div><a href="./logout" class="btn btn-danger">ออกจากระบบ</a></div>
      </div>
      <% } %>
    
    </header>
  
  </section>
    <div class="edit container edit_info">
        <div style="text-align: center;">
          <i class="fa-solid fa-user-astronaut fa-4x" style="color: #f19b9d;"></i>
        </div>
        
        <div class="textUser"> <%=UserData.username%> 
          <a href="./editInformation-user"> 
            <i class="fa-solid fa-pen-to-square " style="color: #f19b9d;"></i>
          </a>
        </div>

      <div class="conto">

          <div class="form-row">
            <div class="form-group col-md-6 ">
              <label class="textque"> ชื่อ </label>
              <div class="form-control"> <%=UserData.firstname%> </div>
            </div>

            <div class="form-group col-md-6">
              <label class="textque"> นามสกุล </label>
              <div class="form-control"> <%=UserData.lastname%> </div>
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="textque"> ชื่อเล่น </label>
              <div class="form-control"> <%=UserData.nickname%> </div>
            </div>

            <div class="form-group col-md-6">
              <label class="textque"> โทรศัพท์ </label>
              <div class="form-control"> <%=UserData.phonenum%> </div>
            </div>
          </div>

      </div>
    </div>

    <div class="container">

      <button class="tablinks" onclick="openPage('Home', this, '#FBF2E9')"id="defaultOpen">ตารางการจองคิวของฉัน</button>
      <button class="tablinks" onclick="openPage('News', this, '#FBF2E9')" >ประวัติการจองคิวของฉัน</button>

      <div id="Home" class="tabcontents">

        <% QueueBookingCustomerData.forEach(function(booking,element) { %>
          <table class="tabless ">
            <tr>
             
              <td class="f1"><i class="fa-solid fa-bookmark fa-2x" style="color: #f19b9d;"></i></td>
              <td class="f2"><%= booking.booking_date_user %></td>
              <td class="f3"><%= booking.booking_time_user %></td>
              <td class="f4"><%= booking.booking_service_user.join(', ') %></td>
              <td class="f5 "><a href="/#exampleModal1<%=booking._id %>" class="nav-link fontAll butt" data-bs-toggle="modal">ชำระเงิน</a></td>
              <td class="f6">
                <a href="./edit-booking-user/<%=booking._id %>" class="nav-link fontAll edit-link" data-bs-toggle="modal" data-booking-date="<%= booking.booking_date_user %>">
                  <i class="fa-solid fa-pen-to-square fa-2x" style="color: #f19b9d;"></i>
                </a>
              </td>
              <td class="f7"><%= booking.status%></td>
            </tr>
          </table>
        <% }); %>

      <!-- Modal ส่งสลิปชำระเงิน-->
      <% QueueBookingCustomerData.forEach(function(booking,element) { %>
      <div class="modal fade" id="exampleModal1<%= booking._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">ชำระเงิน</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           
             <div class="modal-body">
               <div class="inbody">
 
                 <div class='form-row texla'>
                   <div class="form-group col-md-4">
                     <label class="mg">ชื่อลูกค้า</label>
                     <h class="d"> : </h>
                   </div>
                   <div class=" form-group col-md-6 ">
                     <%= booking.customerName %> <%=booking.customerFirstname%> <%=booking.customerLastname  %>
                   </div>
                 </div>
 
                 <div class='form-row texla'>
                   <div class="form-group col-md-4">
                     <label class="mg">บริการ</label>
                     <h class="dd"> : </h>
                   </div>
                     <div class="form-group col-md-6 ">
                       <%= booking.booking_service_user%>
                     </div>
                 </div>
 
                 <div class='form-row texla'>
                   <div class="form-group col-md-4">
                     <label class="mg">ราคา</label>
                     <h class="ddd"> : </h>
                   </div>
                     <div class="form-group col-md-6" >
                      <% if (booking.price) { %>
                        <%= booking.price %>
                      <% } else { %>
                        <p class="ree">กรุณารอแอดมินกรอกราคา</p>
                      <% } %>
                     </div>
                 </div>
 
                 <img id="images1" src="<%=qr.qrcode%>" class=" imgpay2"  loading="lazy">
                 
                  <div class="payy"><p class="pp">อัพโหลดหลักฐานการชำระเงิน</p></div>
                 <div class="pay">
                    <form action="/information-user/<%= booking._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                      <div class="row g-2 groupp">
                        <div class="col-6">
                          <input type="file" name="slip" id="inputGroupFile02" accept="image/*" onchange="renderFile6(event)" required>
                        </div>
                      </div>
                 </div>
                 
                 <% if (booking.slip) { %>
                  <img id="slip" src="<%= booking.slip %>" class="imgpay3" loading="lazy">
                <% } else { %>
                  <p> </p>
                <% } %>
                 
               </div>
             </div>
 
                 <div class="modal-footer">
                   <button type="submit" class="buttonbt">บันทึก</button>
                  </div>
 
           </form>
         </div>
       </div>
     </div>
     <% }); %>
   
   </div>

      <div id="News" class="tabcontents">
        
      </div>

    </div>

    <% var timeOpenArray = [] %>
    <% var bookingTime = [] %>
    <% var bookingTArray=[] %>

     <!-- Modal แก้ไขข้อมูลการจอง-->
     <% QueueBookingCustomerData.forEach(function(booking,element) { %>
      <div class="modal fade" id="exampleModal2<%= booking._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">แก้ไขข้อมูลการจองคิว</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           
             <div class="modal-body">
                <div class="inbody">
                  <form action="/information-user/<%= booking._id %>?_method=PUT" method="POST">     
                    <div class="editS">
                        
                          <div class='editSe'>
                              <label class="textque">เลือกวันที่</label>
                              <input id="dateBooking"
                              type="date" min="0000-00-00" max="0000-00-00"
                              placeholder="<%= booking.booking_date_user  %>" 
                              class="form-control" 
                              name="booking_date_user" 
                              value="<%= booking.booking_date_user  %>"
                              >
                          </div>
  
                            <div class='editSe'>
                              <label class="textque">บริการ</label>
                              
                              <select name="booking_service_user[]" class="form-control">
                                <option value="" selected disabled hidden ><%= booking.booking_service_user %></option> 
                                <% ServiceDataList.forEach(serviceData =>{ %> 
                                
                                    <option value= "<%= serviceData.service_name  %>"  > <%= serviceData.service_name  %> ( <%= serviceData.service_time %> ชั่วโมง ) </option>
                                
                                  <% }) %> 
                              </select>
                            </div>
                            
                    </div> 
  
                          <div class='editSe'>
                              <label class="textque">เวลา</label>
                              
                              
                             <% if(booking._id === booking._id) {%>
                              <select name="booking_time_user[]"  class="select-time "  id="select-time"  multiple="multiple"  >
                              
                                <%  HomeData.forEach(homeData => { %>
                                  
                                  <%  let timeOpen = parseInt(homeData.time_open); %>
                                  <%  let timeClose = parseInt(homeData.time_close); %>
                                 
                                  <%  let timeForService1  = timeOpen+1;  %>
  
                                  <% let timeOpen1 = timeOpen; %>
                                  <% let timeForService2  = timeForService1; ;%>
                                  <% let timeClose1 = timeClose;%>
                                   
                                  <% for(; timeOpen1 < timeClose1  ; timeOpen1++ ){ %>
                                    <% if(timeOpen1 <= 9 ){%>
                                      <% var shopTime = "0"+timeOpen1+".00"+"-"+timeForService2+".00" %>
                                      <% bookingTArray.push(shopTime); %>
                                      <% timeForService2++ %>
          
                                    <% }else{ %>
                                      <% var shopTime = timeOpen1+".00"+"-"+timeForService2+".00" %>
                                      <% bookingTArray.push(shopTime); %>
                                      <% timeForService2++ %>
                                      <% } %>
                                   
                                   <% } %> 
                                      
                                    
                                      <% for(let t=0 ; t < booking.booking_time_user.length ;t++) {%>
                                        <% let bookingT = parseInt(booking.booking_time_user[t]); %>
                                        <% bookingTime.push(bookingT); %>
                                    <% } %>
                                    <% console.log(bookingTime) %>
                                    
                                     
                                       <% for( ; timeOpen < timeClose  ; timeOpen++ ) { %> 
                                      <% if(timeOpen<=9) {%> 
                                        
                                        <option  value= "0<%= timeOpen %>.00 - <%= timeForService1 %>.00"  class="fontAll "> 0<%= timeOpen %>.00 - <%= timeForService1 %>.00 </option>
                                        
                                      <% timeForService1++ %> 
                                      <% }else{ %>   
                                        <option  value= "<%= timeOpen %>.00 - <%= timeForService1 %>.00"  class="fontAll "> <%= timeOpen %>.00 - <%= timeForService1 %>.00 </option> 
                                        <% timeForService1++ %> 
                                      <% } %>
                                  
                                  <% } %>
                                       
                                <% })  %> 
                              </select>
                              <% } %>    
                          </div>
                  </form>    
                
                </div>
        
                    <div class="modal-footer">
                        <div class="container">
                            <button type="submit"  class="buttonbt">บันทึก</button>
                            <button type="button" class="fontAll buttonDelete btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel" >ลบข้อมูล</button>  
                        </div>
                    </div>
                 
               </div>
             
          </div>
        </div>
      </div>
     <% }); %>
    

  <!-- JavaScript-->
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
    crossorigin="anonymous">
  </script>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
      var table = document.querySelectorAll(".f7");

      for (var i = 0; i < table.length; i++) {
        if (table[i].textContent.trim() === "ชำระแล้ว") {
          var row = table[i].closest("tr");
          
          var newsDiv = document.getElementById("News");
          newsDiv.appendChild(row);
        }
      }
    });

  </script>

  <script>
    function openPage(pageName,elmnt,color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontents");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].style.backgroundColor = "";
        }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }
    
    // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
  </script>

  <script 
      src="../js/dateBooking.js" 
      charset="utf-8">
  </script>

  <script 
      src="../js/select-time.js" 
      charset="utf-8">
  </script>

  <script>
      var timeOpen = '<%= bookingTArray %>'.split(',');
      var timeOpenInt =[];
      
      // timeOpen--> int
      for(let t = 0 ; t<timeOpen.length ; t++){
        var timeOpenint = parseInt(timeOpen[t]);
        timeOpenInt.push(timeOpenint);
      }
    
      console.log(timeOpenInt);

      var itemB =  [];
      var timeBooking = '<%= bookingTime %>'.split(',');
      var timeBookingInt =[];
      
      for(let w = 0  ; w < timeBooking.length  ; w++){
        var  timeBookingint =  parseInt(timeBooking[w])
        timeBookingInt.push(timeBookingint);
      }
      //ขนาดอาเรย์เท่ากันหรือไม่
      function arraysHaveEqualValues(array1,array2){
        for(let r = 0;r < Math.min(array1.length, array2.length); r++){
          if (array1[r] !== array2[r]) {
               return false;
          }
        }
        return true;
      }
      //เปรียบเทียบค่าข้างในอาเรย์
      function valuesInArray(array1, array2) {
  
        for (let r = 0; r < array1.length; r++) {
          if (array2.indexOf(array1[r]) === -1) {
            return false;
          }
        const sameIndex = (array2).indexOf(array1[r]);
         itemB.push('itemTime'+[r]);
          var itemTimeNum = itemB;
          var itemTime = document.querySelectorAll('.item-time')[sameIndex];
          
          itemTime.classList.add("item--selected");
      }
       return true;
        }
     
      const resultEqualValues  = arraysHaveEqualValues(timeOpenInt,timeBookingInt);
      console.log(resultEqualValues);

      const resultSubset = valuesInArray(timeBookingInt, timeOpenInt);
      console.log(resultSubset);

      console.log(timeBookingInt);
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var editLinks = document.querySelectorAll(".edit-link");
    
      editLinks.forEach(function(link) {
        link.addEventListener("click", function(event) {
          event.preventDefault();
          var bookingDate = new Date(link.getAttribute("data-booking-date"));
          var currentDate = new Date();
    
          // คำนวณว่าจองคิวอยู่ห่างจากวันปัจจุบันกี่วัน
          var timeDiff = bookingDate - currentDate;
          var daysDiff = timeDiff / (1000 * 3600 * 24);
    
          if (daysDiff >= 1) {
      // ลูกค้าสามารถแก้ไขการจองคิว
      window.location.href = link.getAttribute("href");
    } else {
      // ไม่สามารถแก้ไขการจองคิว
      var alertDiv = document.createElement("div");
      alertDiv.className = "custom-alert";
      alertDiv.innerHTML = "ไม่สามารถแก้ไขการจองคิวได้";

      document.body.appendChild(alertDiv);

      setTimeout(function() {
        document.body.removeChild(alertDiv);
      }, 2000); // แสดงเป็นเวลา 2 วินาที

      // เพิ่ม CSS สำหรับ alert ให้สวยงาม
      var style = document.createElement("style");
      style.innerHTML = `
        .custom-alert {
          position: fixed;
          top: 50%;
          left: 50%;
          width: 450px;
          height: 60px;
          transform: translate(-50%, -50%);
          background-color: #f19b9d;
          color: #fff;
          font-size: 24px;
          text-align: center;
          padding: 10px 20px;
          border-radius: 5px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        }
      `;

  document.head.appendChild(style);
}

        });
      });
    });
  </script>
  
  
</body>
</html>