<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="./css/stock.css">
    
     <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body style="background-color: #fcf2f1;">
    
  <!-- Header หลัก-->
  <section id="header-employee">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-4 ">
        <div class="col-md-1 mb-2 mb-md-0 ">
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 primary">
          <li><a href="./home-admin" id="homeHeaderEmployee" class=" nav-link px-3 text-header fontAll ">แก้ไขหน้าเว็บ</a></li>
          <li><a href="./service-admin" id="servicesHeaderEmployee"  class="nav-link px-3 text-header fontAll ">บริการของร้าน</a></li>
          <li><a href="#" id="userHeaderEmployee" class="nav-link px-3 text-header fontAll ">ลูกค้า</a> 
            <ul class="sub">
              <li><a href="./queuebooking-admin" style="text-decoration:none" >ตารางการจองคิว</a></li>
              <li><a href="./pay-admin" style="text-decoration:none">การชำระเงิน</a></li>
            </ul>
          </li>
          <li><a href="#" id="employeeHeaderEmployee" class="nav-link px-3 text-header fontAll ">พนักงาน</a>
            <ul class="sub">
              <li><a href="./employeetable-admin" style="text-decoration:none ">ตารางพนักงาน</a></li>
              <li><a href="./employeeinformation-admin" style="text-decoration:none ">ข้อมูลพนักงาน</a></li> 
            </ul>
          </li>
          <li><a href="./stock-admin" id="stockHeaderEmployee" class="nav-link px-3 text-header fontAll active">Stock</a></li>
          <li><a href="./chatbot-admin" id="chatbot" class="nav-link px-3 text-header fontAll ">Chat Bot</a></li>
          <li><a href="./report-admin" id="report" class="nav-link px-3 text-header fontAll ">Report</a></li>
        </ul>
  
        <% if (loggedIn) { %>
          <div class="nav me-3 text-end">
            <div><a href="./employeeEdit-admin" class="nav-link fontAll text-header">Admin, <%=UserData.username%></a></div>
            <div><a href="./logout" class=" btn btn-danger ">ออกจากระบบ</a></div>
          </div>
          <% } %>
          
      </header>
    </section>
    
    <div class="grid-container">
      <div class="item1">
        <div style="text-align: center;">Stock</div>
        <div style="text-align: center;">สินค้า</div>
      </div>
      <div class="item2">

         <!-- Button trigger modal -->
         <div id="create-service">
          <a href="#exampleModal" class="nav-link fontAll" data-bs-toggle="modal">เพิ่มสินค้าใหม่</a>
        </div>
        
        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">รายละเอียดสินค้า</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <form id="productForm" method="POST" >
                <div class="modal-body">
                  <div class="inbody">

                    <div class='row'>
                      <label class="textque">ชื่อสินค้า</label>
                      <input 
                      type="text" 
                      placeholder="ชื่อสินค้า" 
                      class="form-control" 
                      name="name_product" 
                      id="name_product"
                      required>
                    </div>

                    <div class='row'>
                      <label class="textque">ยี่ห้อสินค้า</label>
                      <input 
                      type="text" 
                      placeholder="ยี่ห้อสินค้า" 
                      class="form-control" 
                      name="brand_product" 
                      id="brand_product"
                      required>
                    </div>

                    <div class='row'>
                      <label class="textque">รายละเอียดเพิ่มเติม</label>
                      <input 
                      type="text" 
                      placeholder="รายละเอียดเพิ่มเติม" 
                      class="form-control" 
                      name="detail_product" 
                      id="detail_product"
                      required>
                    </div>

                    <div class='row'>
                      <label class="textque">ราคาซื้อ</label>
                      <input 
                      type="number" 
                      placeholder="ราคา" 
                      class="form-control" 
                      name="price_product"
                      id="price_product" 
                      required>
                    </div>

                    <div class='row'>
                      <label class="textque">จำนวน</label>
                      <input 
                      type="number" 
                      placeholder="จำนวน" 
                      class="form-control" 
                      name="unit_product" 
                      id="unit_product"
                      required>
                    </div>

                  </div>
                </div>

                  <div class="modal-footer">
                    <button type="submit" class="buttonbt">บันทึก</button>
                  </div>

              </form>
          </div>
        </div>
      </div>
      
      <div id="infoTable">
        <div class="container">
          <table >
            <tr class="sectionTable">
              <td class="fontAll ">#</td>
              <td class="fontAll ">รหัส</td>
              <td class="fontAll ">ชื่อสินค้า</td>
              <td class="fontAll ">ยี่ห้อสินค้า</td>
              <td class="fontAll ">รายละเอียดเพิ่มเติม</td>
              <td class="fontAll ">ราคาซื้อ</td>
              <td class="fontAll ">คงเหลือ</td>
              <td></td>
            </tr>

            <% stockList.forEach((stock,element) =>{ %>
            <tr class="infoTable">
              <td class="fontAll "><%= element+1 %></td>
              <td class="fontAll "><%=stock.code%></td>
              <td class="fontAll "><%=stock.name_product%></td>
              <td class="fontAll "><%=stock.brand_product%></td>
              <td class="fontAll "><%=stock.detail_product%></td>
              <td class="fontAll "><%=stock.price_product%></td>
              <td class="fontAll text-center"><%=stock.unit_product%><td>

                <a href="./editStock-admin/<%= stock._id %>" class="nav-link " data-bs-toggle="modal" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                  </a>
              </td>
            </tr>
            <%}) %>  
          </table>
        </div>

        <!--<div id="create-service1">
          <a href="./report" class="nav-link fontAll" data-bs-toggle="modal">พิมพ์รายงาน</a>
        </div>-->

    </div>
    </div>

      </div>
      
      <!-- JavaScript-->
      <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
        crossorigin="anonymous">
      </script>

      <script src="/js/stock.js" charset="utf-8"></script>
      
</body>
</html>